html, body {
  height: 100%; /* Ocupa toda la altura de la pantalla */
  margin: 0;    /* Elimina los márgenes por defecto */
  padding: 0;   /* Elimina el padding por defecto */
  font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
  background: linear-gradient(135deg, #f4b134 0%, #ee9107 100%); /* Fondo con un gradiente bonito */
  color: #000000; /* Color de texto blanco */
}